<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Arabic Script Emoticons</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="nojs">
  <header>
    <h1>Arabic Script Emoticons*</h1>
    <p>Because who knew there's a native smiley?</p>
  </header>
  <main>
    {{ emoticonList }}
  </main>
  <footer>
    <small>*contains Persian characters as well</small>
  </footer>
</body>
</html>
