/* -----------------------------------------------------------------------------
  FOUNDATION
============================================================================= */

html {
  font-size: 10px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

* + * { margin-top: 1rem }

*, *::before, *::after {
  box-sizing: inherit;
}

/* -----------------------------------------------------------------------------
  TYPOGRAPHY
============================================================================= */

body {
  font-size: 1.8rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #222;
}

h1 {
  line-height: 1.1;
}

h1 + p {
  color: #6D6D6D;
}

li h2 {
  font-family: 'Lateef', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 15rem;
}

  li:first-child h2 {
    font-size: 30rem;
  }

small {
  color: #6D6D6D;
  font-size: 1.4rem;
  letter-spacing: 0.01em;
}

/* -----------------------------------------------------------------------------
  LAYOUT
============================================================================= */

header,
main,
footer {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main,
footer {
  margin-top: 10rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* -----------------------------------------------------------------------------
  ELEMENTS
============================================================================= */

ul {
  margin: -2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

li {
  flex: 1 1 25rem;
  margin: 5rem 3rem;
  padding-bottom: 0;
  list-style: none;
}

  li:hover button {
    opacity: 1;
  }

  li:first-child {
    flex-basis: 100%;
  }

  li div {
      padding-bottom: .4rem;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid currentColor;
  }

button {
  padding: .5rem 1rem .7rem;
  border: 1px solid #222;
  color: #fff;
  background: #222;
  cursor: pointer;
  letter-spacing: 0.1em;
  margin-top: 0;
  transform: translateY(-2px);
  opacity: 0;
}

.nojs button { display: none!important; }
